* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 52, 52);
    display: flex;
    flex-direction: column;
}

.head-text {
    font-size: 40px;
    text-align: center;
    font-family: fantasy;
    color: rgb(240, 220, 220);
    background-color: rgb(63, 37, 59);
    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    width: 100%;
}

.image-container {
   width: 250px;
   height: 250px;
   border-radius: 5px;

}

img {
   width: 300px;
}
